@import "materialize/components/color";
$primary-color: color("deep-purple", "darken-1") !default;
$secondary-color: color("blue-grey", "lighten-2") !default;
@import 'materialize';
@import url(https://fonts.googleapis.com/css?family=Oswald);
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body { 
  background-image: asset-url('school.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  font-family: 'Oswald', sans-serif;
}

.flash {
	text-align: center;
	width: 50%;
	font-size: 20px;
	font-style: italic;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 25px;
}

.flash.success {
	background-color: #4080bf;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.flash.notice {
	background-color: #4080bf;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h1, h2, h3, h4 {
	text-align: center;
}

.btn {
	margin: 15px;
}

.card {
	min-height: 250px;
}

.paginate {
	text-align: center;
	font-size: 20px;
	background-color: teal;
	border-radius: 20px;
	width: 20%;
	margin: 0 auto;
}

.paginate a {
	color: #f5f5f5;
}

.form-text {
	color: black;
	font-size: 20px;
}